body {
  background-color: #212121;
}

header {
  background-color: #2a2929;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.contenedor-metro {
  position: relative;
  margin-top: 160px;
  /* width: 1798px; */
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contenedor-metro img{
  max-width: 95%; /* La imagen no será más ancha que el contenedor */
            height: auto; /* Mantiene la proporción de la imagen */
}


.fondo-transparente {
  position: absolute;
  top: 0;
  /* border: 1px solid black; */
  width: 100%;
  margin-left: 22rem;
}

.fondo-transparente img {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}

.letters-metro {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: left;
  margin-left: 40rem;
  margin-top: 8rem;
}

.letters-metro h1 {
  font-size: 132px;
  font-weight: bold;
}

.letters-metro h3 {
  color: white;
  font-size: 24px;
  font-weight: 400;
  width: 780px;
  text-align: left;
  margin-top: -35px;
}

.isotipo-banner-metro {
  position: absolute;
  top: 0;
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-top: 10rem;
  margin-right: 50rem;
}

.isotipo-banner-metro img {
  width: 531px;
  height: 417px;
}

/* CALIBRACIONES */

.colibraciones,
.ensayos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.colibraciones h2,
.ensayos h2 {
  font-size: 65px;
  font-weight: bold;
  color: white;
  margin-top: 15px;
  margin-bottom: 25px;
}

.colibraciones img {
  width: 4%;

}

.container-calibraciones {
  background-color: rgba(39.3, 39.14, 39.14, 0.93);
  /* box-shadow: 4px 4px 4px;  */
  border-radius: 65px;
  width:90%;
  margin-left: 10rem;
  margin-top: 40px;
}

.magnitud,
.ensayos-e {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eclipse,
.eclipse2 {
  /* border-radius: 100%; */
  background: #313131;
  width: 25rem;
  height: 25rem;
  border-color: linear-gradient(
    359deg,
    rgba(70, 13, 17, 1) 0%,
    rgba(255, 6, 23, 1) 65%
  );;
  /* border: 6px #C41622 solid; */ 
  border: 6px solid transparent;
  /* border-image: linear-gradient(
    359deg,
    rgba(70, 13, 17, 1) 0%,
    rgba(255, 6, 23, 1) 65%
  ); */
  border-image-slice: 10;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eclipsebor {
  /* border-radius: 100%; */
  background: linear-gradient(359deg, rgba(70, 13, 17, 1) 0%, rgba(255, 6, 23, 1) 65%);
  border-radius: 50%;
  width: 26rem;
  height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.letters-cal {
  position: relative;
}

.letters-cal,
.letters-ensayos {
  background-color: #313131;
  border-radius: 18px;
  width: 30rem;
  margin-top: 25px;
}

.letters-cal h3 {
  color: white;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-weight: 600;
}

.ensayos {
  margin-top: 60px;
}

.ensayos img{
 width: 4%;
}
.ensayosf {
  margin-top: 50px;
}

.primera,
.segunda {
  padding: 45px;
  justify-content: space-between;
}

.container-ensayos {
  width: 90%;
  background: rgba(39.3, 39.14, 39.14, 0.93);
  border-radius: 65px;
  border: 4px #df0707 solid;
  margin-left: 10rem;
  margin-top: 40px;
}

.letters-ensayos h3 {
  color: white;
  text-align: center;
  font-size: 18px;
}

/* SUBMENÚ */

.menu1 {
  border-radius: 17px;
  width: 100%;
  position: relative;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9;
  /* background-color: transparent; */
}

/* .background-image {
  position: absolute;
  top: -50px;
  left: 0;
  width: 415px;
  height: 480px;
  object-fit: cover;
  border-radius: 17px;
  opacity: 0.5;
  z-index: 8; 
} */

.submenu {
  border-radius: 17px;
  position: relative;
  background-color: rgb(45, 45, 45); /* Ajusta la transparencia del fondo */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 12px 24px;
  /* margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px; */
  z-index: 10; /* Asegura que el submenú esté encima de la imagen */
}

.submenubor {
  border-radius: 17px;
  position: relative;
  background: linear-gradient(359deg, rgba(70, 13, 17, 1) 0%, rgba(255, 6, 23, 1) 65%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2.5px 2.5px;
  /* margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px; */
  z-index: 10; /* Asegura que el submenú esté encima de la imagen */
  margin-top: 10px;
}

.submenu ul {
  list-style-type: disc;
  color: #C41622;
  font-size: 30px;
}

.submenu ul li {
  margin-bottom: 2px;
  margin-left: 14px;
}

.submenu ul li a {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.letters-cal:hover .menu, .letters-cal:hover .submenu {
  display: block;
}








