body {
    background-color: #212121;
}

header {
    background-color: #2A2929;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.img1{
    max-width: 95%;
    height: auto;
    margin-left: 1.5%;
}

.dos {
    margin-top: 93px;
    position: relative;
    
}

.dos img{
    max-width: 89%;
    height: auto;
    margin-left: 5.5%;
}

.letter {
    position: absolute;
    top: 0;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-top: 100px;
}

.letter h1 {
    font-size: 92px;
    font-weight: bold;
    width: 865px;
}

.letter p {
    font-size: 33px;
    font-weight: 400;
    width: 771px;
    margin: 34px;
    margin-left: 10px;
    line-height: 1.2;
}

.isotipo-somos {
    position: absolute;
    top: 0;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 510px;
    
}

.isotipo-somos img {
    width: 115px;
    height: 100px;
    margin-right: 60px;
}

.principal-dos {
    display: flex;
    margin-top: 72px;
    margin-right: 6%;
    width: 92%;
}

.caja {
    position: relative;
}

.caja1 {
    width: 90%;
    height: 95%;
}

.caja2 {
    width: 90%;
    height: 95%;
}

.caja-v {
    position: relative;
}

.caja-v1 {
    width: 90%;
    max-width: 89%;
    height: auto;
    margin-left: 6%;

}


.caja:nth-child(1) {
    margin-left: 10%;
}

.letter-cajas {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.letter-cajas h1 {
    font-size: 92px;
    font-weight: bold;
}

.letter-cajas p {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    width: 645px;
    margin-top: 40px;
}

.tit-2 {
    width: 414px;
    background-color: #313131;
    border: 3px #850007 solid;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 71px;
    height: 79px;
}

/* VALORES */

.tit-2 h1 {
    font-size: 58px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.container-val {
    width: 1669px;
    height: 752px;
    background: rgba(42, 41, 41, 0.33);
    border-radius: 60px;
    margin-top: 20px;
}

.caja-prin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-val {
    position: relative;
    background-color: #2A2929;
    width: 605px; 
    height: 223px;
    border-radius: 74px;
}

.caja-val .valor img:nth-child(1) {
    margin-top: -25px;
    margin-right: -20px;
}

.caja-val-menos {
    position: absolute;
    top: 0;
    /* border: 1px solid black; */
    width: 100%;
    margin-top: 25px; 
    z-index: 1;
}

.caja-valores {
    position: absolute;
    top: 0;
    width: 521px; 
    height: 171px; 
    background: #313131; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 52px;
    margin-top: 25px;
    /* border: 1px solid black; */
}

.letters-val {
    width: 100%;
    /* border: 1px solid black; */
}

.letters-val h1{
    font-size: 26px;
    font-weight: bold;
}

.letters-val .separator {
    width: 311px;
    height: 2px; 
    background-color: #C9012C; 
    border-radius: 1px;
    margin-top: -20px;
    margin-bottom: 5px;
}

.letters-val p {
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1.2;
}

.isotipo-caja {
    position: absolute;
    top: 0;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
}

.isotipo-caja img {
    margin-top: 50rem;
    margin-left: 55rem;
}

.caja-icon {
    position: absolute;
    top: 0;
    width: 100%;
    /* display: flex;
    justify-content: end;
    align-items: end; */
    z-index: 1;
    margin-top: 19px;
}

.caja-icon img {
    margin-right: -25px;
}

.caja-icon .icon {
    position: absolute;
    top: 15px;
    /* right: 20px; */
}

.parrafo {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafo p {
    margin-left: 155px;
    font-weight: 600;
}

.principal-politica {
    position: relative;
    width: 1824px;
    height: 770px;
    background-color: rgba(42, 41, 41, 0.33);
    border-radius: 63px;
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.política {
    display: flex;
    margin-bottom: 30px;
    justify-content: right;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;
}

.letters-politica {
    margin-top: 20px;
    margin-left: 130px;
}

.img-politica {
    margin-top: -105px;
}

.img-politica img {
    margin-right: -1000px;
}

.letters-pol {
    width: 680px;
}

.letters-pol p{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}

.icon-pol {
    margin-right: 40px;
    border: 1px solid black;
    /* width: 100%; */
}

/* CAROUSEL */

.carousel-container {
    width: 100%;
    /* max-width: 1600px; */
    overflow: visible;
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
    margin-bottom: 170px;
}

.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    
}

.container-carousel-item {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel-item {
    /* min-width: 25%; */
    position: relative;
    /* border: 1px solid black; */
    /* border-radius: 100%; */
    /* margin-right: 250px; */
    background: linear-gradient(359deg, rgba(70, 13, 17, 1) 0%, rgba(255, 6, 23, 1) 65%);
    border-radius: 50%;
    width: 275px;
    height: 270px;
}


.carousel-item img {
    width: 264px;
    height: 258px;
    border-radius: 100%;
    display: block;
    transition: filter 0.5s ease;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.letters-carousel {
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid black; */
    /* background-color: #212121; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.carousel-item h2, .carousel-item h3 {
    color: #fff;
    margin-bottom: 10px;
    /* font-size: 35px; */
    /* font-weight: bold; */
}

.letters-carousel h2 {
    font-size: 25px;
    font-weight: 600;
}

.letters-carousel h3 {
    font-size: 19px;
    /* font-weight: 600; */
    font-weight: 400;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-indicators li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: transparent;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid red;
}

.carousel-indicators .active {
    background-color: white;
}

.fot-marge{
    margin: 4%;

  }