/*LAPTOPS Y TABLETS GRANDES*/
@media screen and (max-width: 1024px){
    
}

/*TABLETS MEDIANAS*/
@media screen and (max-width: 768px){
}

/*TELEFONOS CELULARES*/
@media screen and (max-width: 480px){
    .container-principal {
        margin-top: 14rem;
    }

    .container-principal .img1 {
        border-radius: 15px;
    }

    .principal-dos {
        padding: 0;
        width: 100%;
        margin-top: 6rem;
    }

    .tit-2 h1{
        font-size: 3.5rem !important;
    }

    .tit-2 {
        width: 88% !important;
    }

    .carousel {
        width: 20%;
        gap: 50px;
    }

    .carousel-item {
        width: 110px;
        height: 110px;
        margin: 0;
        padding: 0;
        
    }

    .carousel-item img {
        width: 103px;
        height: 103px;
        margin: 0.43rem;
    }

    .letters-carousel h2 {
        font-size: 2.5rem;
    }

    .letters-carousel h3 {
        font-size: 1.9rem;
    }

    .parrafo {
        width: 100%;
    }

    .parrafo p {
        width: 100% !important;
        margin: 0 4.5rem !important;
        margin-right: 0 !important;
        font-size: 1.8rem !important;
        margin-right: 3rem !important;
    }

    .caja-v {
        margin-bottom: -1rem
    }

}

/*DISPOSITIVOS MAS PEQUEÑOS EN CASO SUCEDA*/
@media screen and (max-width: 320px){
    
}